body {
    background-image: url("../images/Tetris.webp"); /* Replace 'background.jpg' with the path to your image */
    background-size: cover; /* Ensures the background image covers the entire page */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}
#name-box{
    position: absolute;
    left: 505px;
    top: 380px;
    background-color: bisque;
    height: 130px;
    width: 220px;
    padding: 5px;
    border-radius: 10px;
}